@import '../settings';

.btn {
	border: 0;
	cursor: $cursor-pointer-value;
	line-height: $button-font-weight;
	margin: 10px 0;
	padding: $button-vertical-padding $button-horizontal-padding;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	@include user-select();

	//firefox inner focus border
	&::-moz-focus-inner {
    border: 0;
		padding: 0;
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		outline: 0;
	}

	&[disabled],
	&.disabled {
		cursor: $cursor-disabled-value;
		opacity: .40;
	}
}

.btn-default {
	background-color: $button-default-color;
}

.btn-primary {
	background-color: $button-primary-color;
}

.btn-bordered {
	background-color: $button-secondary-color;
	border: solid 2px $button-secondary-border-color;
}

.btn-rounded {
	border-radius: $global-radius;
}

.btn-wide {
	width: 90%;
	margin: 0 auto;
	display: block;
}
