.navbar {
	@include clearfix();
  background-color: white;
	padding: $rem-base;
	position: relative;
  z-index: 3;

  .nav {
    padding: 0;
  }

	.nav-item {
		float: left;
	}
}

.navbar-fixed {
  left: 0;
	position: fixed;
  top: 0;
}

.navbar-brand {
  @extend %nav-link;
  float: left;

  &:focus,
  &:hover {
    background-color: none;
    color: none;
    text-decoration: none;
  }
}

.submenu {
	display: none; // FIXME: tot teu ;)
}
// .navbar-menu {
//
// }
//
// .menu {
// 	list-style: none;
// }
//
// .menu-item {
// 	display: inline-block;
// }
//
// .submenu-head {
// 	&:hover {
// 		.submenu {
// 			display: block;
// 		}
// 	}
// }
//
// .submenu {
// 	display: none;
// 	position: absolute;
// 	list-style: none;
// }
