%nav,
.nav {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.nav-item {
  white-space: nowrap;
}

%nav-link,
.nav-link {
  color: #485a6a;
  display: block;
  padding: .75rem 1.25rem;
  white-space: nowrap;


  &:focus,
  &:hover {
    background-color: #f2f6f9;
    color: #46be8a;
    text-decoration: none;
  }
}

.nav-link.active {
  background-color: #f2f6f9;
  color: #46be8a;
}

.nav-item.open > .nav-link {
  background-color: #f2f6f9;
  border-left: 3px solid #46be8a !important;
  color: #46be8a;
  margin-left: -3px;

  &,
  &:focus,
  &:hover {
    background-color: #f2f6f9;
    color: #46be8a;
  }

  .nav-icon {
    color: #46be8a;
  }

  .nav-caret {
    color: #46be8a;
    transform: rotate(-90deg);
  }
}

.nav-label {
  display: inline-block;
}

.nav-icon {
  color: #a7bdcd;
  display: inline-block;
  margin-right: 3px;
}

.nav-caret {
  color: #a0b8c9;
  display: inline-block;
  float: right;
}

// .sidebar {
// 	width: 235px;
// 	display: block;
// 	float: left;
// 	margin-right: -100%;
// }
//
// .main {
// 	float: left;
// 	width: 100%;
// }
//
// .main-content {
// 	margin-left: 235px;
// 	padding: 0 0 0 20px;
// }

%nav-sidebar,
.nav-sidebar {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  @extend %nav;
}

.nav-sidebar-submenu {
  @extend %nav-sidebar;
  margin-top: 0;
  margin-left: 0 !important;

  .nav-link {
    padding: .55rem 1.25rem .55rem 2.5rem;

  }
}
